@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
       url('../fonts/roboto-v30-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin-700italic.woff2') format('woff2'),
       url('../fonts/roboto-v30-latin-700italic.woff') format('woff'); 
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container{
  width: 1260px;  
  padding: 0px 30px;
  margin: 0px auto;
}

.header{
  padding: 20px 0px;
  background-image: url('../img/Sky-plane.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-logo{
  display: flex;
  align-items: center;
}

.logo-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 10px;
}

.logo-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo-title{
  text-decoration: none;
  font-family: 'Roboto';
  color: #377BBF;
}

.intro-ctg{
  display: flex;
  align-items: center;
}

.search{
  padding: 3px;
  margin-right: 10px;
  border: 0.5px solid #377BBF;
  border-radius: 5px;
  cursor: pointer;
}
.search:hover{
  background-color: #f0f0f0d5;
}

.language{
  padding: 3px;
  padding-right: 18px;
  margin-right: 10px;
  border: 0.5px solid #377BBF;
  border-radius: 5px;
  cursor: pointer;
}
.language:hover{
  background-color: #f0f0f0d5;
}
.lang-img{
  width: 26px;
  height: 26px;
  border: 0.5px solid rgb(78, 75, 75, 0.3);
  border-radius: 50%;
}

.sign-in{
  font-size: 20px;
  padding: 6px;
  margin-right: 10px;
  border: 0.5px solid #377BBF;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(4, 0, 248, 0.651);
}
.sign-in:hover{
  background-color: rgba(4, 0, 248, 0.651);
  color: #fff;
}

.sign-up{
  font-size: 20px;
  padding: 6px;
  border: 0.5px solid #377BBF;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(4, 0, 248, 0.651);
}
.sign-up:hover{
  background-color: rgba(4, 0, 248, 0.651);
  color: #fff;
}




.bg-box{
  background-image: url("../img/Sky-plane.jpg");
  background-position: 50%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  top: -50px;


}


.nav-ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.ul-li{
  padding: 25px 0px;
}

.li-link{
  text-decoration: none;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #fff;
  font-style: italic;
}

.li-link:hover{
  color: gold;
  transition: 0.3s;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.qayerdan{
  padding: 15px;
  font-size: 22px;
  border-radius: 10px;
  color: darkslategray;
}

.vector-right{
  width: 100px;
  height: 50px;
  
}

.qayerga{
  padding: 15px;
  font-size: 22px;
  border-radius: 10px;
  color: darkslategray;
}

.submit-btn{
  display: flex;
  margin: auto;
  padding: 15px 20px;
  background-color: lawngreen;
  border: lawngreen;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
  margin-bottom: 75px;
}

.submit-btn:hover{
  border: lawngreen;
  background-color: rgb(0, 252, 155);
  color: red;
  transition: 0.1s;
}

.submit-btn:active{
  color: #fff;
}

.h2-title{
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  margin-bottom: 45px;
}

.shaharlar{
  list-style: none;
  margin-bottom: 70px;
}

.city-link{
  text-decoration: none;
  font-size: 25px;
  font-family: 'Roboto';
  color: rgb(59, 55, 55);
}

.city-link:hover{
  color: black;
}

.Tash{
  margin-left: 15px;
  display: inline;
}



.img-city{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.city-img{
  border: 1px solid rgb(130, 126, 126);
  border-radius: 10px;
}

.city-img:hover{
  box-shadow: 5px 5px 25px 2px;
}